/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  background-color: #dddddd;
  font-family: "Inter", sans-serif;
}
body img {
  padding: 20px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
}
body h1, body h2, body h3, body h4 {
  color: #002fa7;
  text-transform: uppercase;
  text-align: center;
}
body p {
  color: #d35400;
  text-align: center;
}
body input {
  border-radius: 10px;
}

header {
  max-height: 50px;
  width: 100%;
  position: fixed;
  border-bottom: 3px solid #d35400;
  background-color: #dddddd;
  z-index: 4;
}
header div {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 0;
  right: 5px;
}
header div .cartNumber {
  position: absolute;
  font-size: 1rem;
  top: 17px;
  color: #002fa7;
}
header div button {
  background: none;
  border: none;
  z-index: 3;
}
header div .material-symbols-outlined {
  font-size: 45px;
  color: #002fa7;
}

.pagetop {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  position: relative;
}
.pagetop .about {
  padding: 20px;
  text-transform: uppercase;
  border-bottom: 3px solid #002fa7;
}
.pagetop .pagetitle {
  width: 100%;
}
.pagetop .pagetitle .pagetitle1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  z-index: 3;
}
.pagetop .pagetitle .pagetitle2 {
  position: absolute;
  font-weight: normal;
  font-style: italic;
  font-size: 1.3rem;
  top: 45%;
  right: 25%;
}
.pagetop .pagetitle .circle {
  position: absolute;
  left: 15%;
  top: 20%;
  width: 70px;
  height: 70px;
  background-color: #d35400;
  border-radius: 50px;
}

#product_container {
  display: flex;
  flex-direction: column;
}
#product_container .product_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #002fa7;
}
#product_container .product_items h3 {
  font-size: 1.5rem;
  color: black;
}
#product_container .product_items .product_price {
  font-size: 1.8rem;
}
#product_container .product_items .product_buttons {
  display: flex;
  flex-direction: row;
}
#product_container .product_items .product_buttons p {
  width: 50px;
  text-align: center;
  background: none;
  border: none;
  color: black;
  font-size: 1.2rem;
}
#product_container .product_items .product_buttons .minus, #product_container .product_items .product_buttons .plus {
  background-color: #002fa7;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
}

.cartorder_container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

#orderConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#orderConfirmation .summary_container {
  padding: 10px 20px 10px 20px;
  background-color: rgb(215, 208, 208);
  border-radius: 40px;
}
#orderConfirmation .summary_container h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}
#orderConfirmation .summary_container article {
  padding-top: 20px;
}
#orderConfirmation .summary_container .discount_code {
  padding-top: 20px;
  display: inline-block;
}
#orderConfirmation .summary_container .cartorder_container {
  background-color: rgb(222, 221, 221);
  border-radius: 40px;
}
#orderConfirmation .summary_container .cartorder_container .cartorder_items {
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#orderConfirmation .summary_container .cartorder_container .cartorder_items .cartorder_info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
#orderConfirmation .summary_container .cartorder_container .cartorder_items img {
  width: 130px;
  border-radius: 50px;
  height: auto;
  padding: 5px;
}
#orderConfirmation .cartform_container {
  padding: 30px;
}
#orderConfirmation .cartform_container .cartform {
  display: flex;
  flex-direction: column;
}

.visually_hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#confirmation_container {
  padding: 20px;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #d35400;
}
footer p {
  color: black;
  padding-top: 15px;
}/*# sourceMappingURL=style.css.map */