@mixin image_style {
    padding: 20px;
    border-radius: 100px;
}

@mixin blue_buttons {
    background-color: #002fa7;
    border: 2px solid #002fa7;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}


@mixin labels {
    color: black;
}


@mixin other_buttons {
    background-color: #fbfbfbdd;
    border: 2px solid #002fa7;
    padding-left: 15px;
    padding-right: 15px;
    color: #002fa7;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 1rem;
    
}


@mixin positions {
    padding: 20px;
}


@mixin clicked_items {
    font-weight: bold;
}

