@mixin image_style {
    padding: 20px;
    border-radius: 100px;
}

@mixin blue_buttons {
    background-color: #002fa7;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
}


@mixin labels {
    color: black;
}


@mixin add_buttons {
    background-color: #002fa7;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
}


@mixin positions {
    padding: 20px;
}


