body {
    background-color: #dddddd;
    font-family: 'Inter', sans-serif;
    
    img {
        @include image_style;
        object-fit: cover;
        object-position: center;
    }


    h1, h2, h3, h4 {
        color: #002fa7;
        text-transform: uppercase;
        text-align: center;
        
    }
    p {
        color: #d35400;
        text-align: center;
        
    }
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #d35400;
    border-radius: 50px;
}




/*

body {
    display: flex;
    flex-direction: column;
    background-color: #dddd;


    page {
        display: flex;
    }
    header {
        min-height: 200px;
        h1 {
            text-align: center;
            font-size: 5rem;
            color: #002fa7;
            font-weight: 700;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-transform: uppercase;
        }
        h2 {
            text-align: center;
            font-size: 2rem;
            color: #002fa7;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-transform: uppercase;
        }
    }
    
    p {
        display: inline;
        color: #d35400;
        font-size: 1.4rem;
        padding: 10px;
        text-align: center;
    }

  
    
    .container {       
        width: 100%;
        img {
            padding: 20px;
            align-items: center;
            justify-content: center;
            border-radius: 150px;
        }
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
        }
    }
   
}
*/


